* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    margin-left: 20px;
    background-color: black;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: #EEEEEE;
    font-size: 2.4rem;
    font-weight: 700;
}

p {
    font-family: 'Roboto', sans-serif;
    color: #EEEEEE;
    font-size: 1rem;
    font-weight: 400;
}

a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: orange;
    font-size: 1rem;
    font-weight: 400;
}

main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
}

.pseudo-body {
    width: 300px;
    height: 225px;
    border-radius: 3px;
}

#target-1 {
    background-color: #5d3a3a;
}

#target-1-div-1 {
    width: 150px;
    height: 150px;
    background: #b5e0ba;
}

#target-2 {
    background-color: #62374e;
}

#target-2-div-1 {
    width: 37.5px;
    height: 37.5px;
    background: #fdc57b;
    position: absolute;
    margin: 37.5px 0px 0px 37.5px;
}

#target-2-div-2 {
    width: 37.5px;
    height: 37.5px;
    background: #fdc57b;
    position: absolute;
    margin: 150px 37.5px 0px 37.5px;
}

#target-2-div-3 {
    width: 37.5px;
    height: 37.5px;
    background: #fdc57b;
    position: absolute;
    margin: 37.5px 37.5px 0px 225px;
}

#target-2-div-4 {
    width: 37.5px;
    height: 37.5px;
    background: #fdc57b;
    position: absolute;
    margin: 150px 37.5px 37.5px 225px;
}

#target-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6592CF;
}

#target-3-div-1 {
    position: absolute;
    width: 225px;
    height: 112.5px;
    background: #243D83;
}

#target-3-div-2 {
    position: absolute;
    width: 187.5px;
    height: 187.5px;
    background: #6592CF;
    border-radius: 50%;
}

#target-3-div-3 {
    position: absolute;
    width: 112.5px;
    height: 112.5px;
    background: #243D83;
    border-radius: 50%;
}

#target-3-div-4 {
    position: absolute;
    width: 37.5px;
    height: 37.5px;
    background: #EEB850;
    border-radius: 50%
}

#target-4 {
    background-color: #62306D;
}

#target-4-div-1 {
    margin-top: 112.5px;
    margin-left: 37.5px;
    position: absolute;
    width: 75px;
    height: 75px;
    background: #F7EC7D;
    border-radius: 0 0 50% 50%;
}

#target-4-div-2 {
    margin-top: 37.5px;
    margin-left: 112.5px;
    position: absolute;
    width: 75px;
    height: 75px;
    background: #F7EC7D;
    border-radius: 50% 50% 0 0;
}

#target-4-div-3 {
    margin-top: 112.5px;
   	margin-left: 187.5px;
    position: absolute;
    width: 75px;
    height: 75px;
    background: #F7EC7D;
   	border-radius: 0 0 50% 50%;
}

#target-5 {
    background-color: #0B2429;
}

#target-5-div-1 {
    position: absolute;
    margin-left: 150px;
    margin-top: 22.5px;
    width: 90px;
    height: 90px;
    background: #F3AC3C;
    border-radius: 50%;
}

#target-5-div-2 {
    position: absolute;
    margin-left: 105px;
    margin-top: 67.5px;
    width: 90px;
    height: 90px;
    background: #998235;
    border-radius: 50% 0% 50% 50%;
}

#target-5-div-3 {
    position: absolute;
    margin-left: 60px;
    margin-top: 112.5px;
    width: 90px;
    height: 90px;
    background: #F3AC3C;
    border-radius: 50% 0% 50% 50%;
}

#target-6 {
    background-color: #E3516E;
}

#target-6-div-1 {
    margin-top: 37.5px;
    margin-left: 75px;
    width: 75px;
    height: 75px;
    background: #51B5A9;
    border-top-left-radius: 75px;
    position: absolute;
}

#target-6-div-2 {
    margin-top: 37.5px;
    margin-left: 150px;
    width: 75px;
    height: 75px;
    background: #FADE8B;
    border-top-right-radius: 75px;
    position: absolute;
}

#target-6-div-3 {
    margin-top: 112.5px;
    margin-left: 75px;
    width: 75px;
    height: 75px;
    background: #F7F3D7;
    border-bottom-left-radius: 75px;
    position: absolute;
}

#target-7 {
    background: #0B2429;
}

#target-7-div-1 {
    position: absolute;
    margin-top: 56.25px;
    margin-left: 56.25px;
    width: 112.5px;
    height: 112.5px;
    background: #1A4341;
    border-radius: 75px 0px 75px 0px;
}

#target-7-div-2 {
    position: absolute;
    margin-top: 56.25px;
    margin-left: 93.75px;
    width: 112.5px;
    height: 112.5px;
    background: #998235;
    border-radius: 75px 0px 75px 0px;
}

#target-7-div-3 {
    position: absolute;
    margin-top: 56.25px;
    margin-left: 131.25px;
    width: 112.5px;
    height: 112.5px;
    background: #F3AC3C;
    border-radius: 75px 0px 75px 0px;
}

#target-8 {
    background: #6592CF;
}

#target-8-div-1 {
    position: absolute;
    margin-top: 180px;
    margin-left: 142.5px;
    width: 15px;
    height: 45px;
    background: #060F55;
}

#target-8-div-2 {
    position: absolute;
    background: #060F55;
    width: 105px;
    height: 105px;
    border-radius: 50%;
    margin-left: 97.5px;
    margin-top: 82.5px;
}

#target-8-div-3 {
    position: absolute;
    background: #060F55;
    width: 105px;
    height: 90px;
    margin-left: 97.5px;
    margin-top: 45px;
}

#target-8-div-4 {
    position: absolute;
    width: 15px;
    height: 75px;
    background: #6592CF;
    padding-bottom: 112.5px;
    margin-left: 112.5px;
}

#target-8-div-5 {
    position: absolute;
    width: 15px;
    height: 75px;
    background: #6592CF;
    padding-bottom: 112.5px;
    margin-left: 142.5px;
}

#target-8-div-6 {
    position: absolute;
    width: 15px;
    height: 75px;
    background: #6592CF;
    padding-bottom: 112.5px;
    margin-left: 172.5px;
}

.dark-small-circle {
    position: absolute;
    width: 15px;
    height: 15px;
    background: #060F55;
    border-radius: 50%;
}

#target-8-div-7 {
    margin-left: 97.5px;
    margin-top: 37.5px;
}

#target-8-div-8 {
    margin-left: 127.5px;
    margin-top: 37.5px;
}

#target-8-div-9 {
    margin-left: 157.5px;
    margin-top: 37.5px;
}

#target-8-div-10 {
    margin-left: 187.5px;
    margin-top: 37.5px;
}

.light-small-circle {
    position: absolute;
    width: 15px;
    height: 15px;
    background: #6592CF;
    border-radius: 50%;
}

#target-8-div-11 {
    margin-left: 112.5px;
    margin-top: 105px;
}

#target-8-div-12 {
    margin-left: 142.5px;
    margin-top: 105px;
}

#target-8-div-13 {
    margin-left: 172.5px;
    margin-top: 105px;
}

#target-9 {
    background: #222730;
    display: flex;
    justify-content: center;
    align-items: center;
}

#target-9-div-1 {
    position: absolute;
    width: 300px;
    height: 112.5px;
    background: #4CAAB3;
}

#target-9-div-2 {
    position: absolute;
    width: 187.5px;
    height: 187.5px;
    background: #222730;
    transform: rotate(45deg);
}

#target-9-div-3 {
    position: absolute;
    width: 112.5px;
    height: 112.5px;
    background: #4CAAB3;
    transform: rotate(45deg);
}

#target-9-div-4 {
    position: absolute;
    width: 37.5px;
    height: 37.5px;
    background: #393E46;
    border-radius: 50%;
}

#target-9-div-5 {
    position: absolute;
    width: 300px;
    height: 265px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#target-9-div-5-a {
    width: 300px;
    height: 20px;
    background-color: #000000;
}

#target-9-div-5-b {
    width: 300px;
    height: 20px;
    background-color: #000000;
}

#target-10 {
    background: #62306D;
}

#target-10-div-1 {
    position: absolute;
    width: 225px;
    height: 75px;
    margin-left: 37.5px;
    margin-top: 150px;
    background: #F7EC7D;
}

.big-circle {
    position: absolute;
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

#target-10-div-2 {
    background: #AA445F;
    margin-left: 37.5px;
    margin-top: 112.5px;
}

#target-10-div-4 {
    background: #AA445F;
    margin-left: 187.5px;
    margin-top: 112.5px;
}

#target-10-div-5 {
    position: absolute;
    background: #F7EC7D;
    width: 75px;
    height: 75px;
    margin-left: 112.5px;
    margin-top: 75px;
}

#target-10-div-3 {
    background: #E38F66;
    margin-left: 112.5px;
    margin-top: 37.5px;
}

.small-circle {
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

#target-10-div-6 {
    background: #E38F66;
    margin-left: 52.5px;
    margin-top: 127.5px;
}

#target-10-div-7 {
    background: #AA445F;
    margin-left: 127.5px;
    margin-top: 52.5px;
}

#target-10-div-8 {
    background: #E38F66;
    margin-left: 202.5px;
    margin-top: 127.5px;
}

#target-11 {
    background: #191210;
}

#target-11-div-1 {
    position: absolute;
    background: #ECA03D;
    width: 105px;
    height: 105px;
    border-radius: 50%;
    margin-left: 97.5px;
    margin-top: 60px;
}

#target-11-div-2 {
    position: absolute;
    background: #191210;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-left: 112.5px;
    margin-top: 75px;
}

#target-11-div-3 {
    position: absolute;
    background: #84271C;
    width: 37.5px;
    height: 37.5px;
    border-radius: 50%;
    margin-left: 131.25px;
    margin-top: 93.75px;
}

#target-11-div-4 {
    position: absolute;
    width: 75px;
    height: 37.5px;
    border: 15px solid #ECA03D;
    border-top: none;
    border-bottom-left-radius: 37.5px;
    border-bottom-right-radius: 37.5px;
    margin-top: 112.5px;
    margin-left: 37.5px;
}

#target-11-div-5 {
    position: absolute;
    width: 75px;
    height: 37.5px;
    border: 15px solid #ECA03D;
    border-bottom: none;
    border-top-left-radius: 37.5px;
    border-top-right-radius: 37.5px;
    margin-top: 75px;
    margin-left: 187.5px;
}

#target-12 {
    background: #F5D6B4;
}

#target-12-div-1 {
    position: absolute;
    width: 75px;
    height: 37.5px;
    border: 15px solid #D86F45;
    border-top: none;
    border-bottom-left-radius: 37.5px;
    border-bottom-right-radius: 37.5px;
    margin-left: 52.5px;
    margin-top: 112.5px;
}

#target-12-div-2 {
    position: absolute;
    width: 75px;
    height: 37.5px;
    border: 15px solid #D86F45;
    border-bottom: none;
    border-top-left-radius: 37.5px;
    border-top-right-radius: 37.5px;
    margin-left: 112.5px;
    margin-top: 75px;
}

#target-12-div-3 {
    position: absolute;
    width: 75px;
    height: 37.5px;
    border: 15px solid #D86F45;
    border-top: none;
    border-bottom-left-radius: 37.5px;
    border-bottom-right-radius: 37.5px;
    margin-left: 172.5px;
    margin-top: 112.5px;
}

#target-12-div-4 {
    position: absolute;
    width: 15px;
    height: 15px;
    background: #D86F45;
    border-radius: 50%;
    margin-left: 52.5px;
    margin-top: 105px;
}

#target-12-div-5 {
    position: absolute;
    width: 15px;
    height: 15px;
    background: #D86F45;
    border-radius: 50%;
    margin-left: 232.5px;
    margin-top: 105px;
}

#target-13 {
    background: #0B2429;
}

#target-13-div-1 {
    width: 0; 
    height: 0; 
    border-right: 105px solid transparent;
    border-top: 105px solid #F3AC3C;
}

#target-14 {
    background: #F2F2B6;
}

#target-14-div-1 {
    position: absolute;
    width: 0px;
    height: 0px;
    border-bottom: 97.5px solid #FF6D00;
    border-left: 56.25px solid transparent;
    border-right: 56.25px solid transparent;
    margin-left: 142.5px;
    margin-top: 63.75px;
}

#target-14-div-2 {
    position: absolute;
    width: 0px;
    height: 0px;
    border-bottom: 97.5px solid #FD4602;
    border-left: 56.25px solid transparent;
    border-right: 56.25px solid transparent;
    margin-left: 127.5px;
    margin-top: 63.75px;
}

#target-14-div-3 {
    position: absolute;
    width: 0px;
    height: 0px;
    border-top: 97.5px solid #FD4602;
    border-left: 56.25px solid transparent;
    border-right: 56.25px solid transparent;
    margin-left: 60px;
    margin-top: 63.75px;
}

#target-14-div-4 {
    position: absolute;
    width: 0px;
    height: 0px;
    border-top: 97.5px solid #FF6D00;
    border-left: 56.25px solid transparent;
    border-right: 56.25px solid transparent;
    margin-left: 45px;
    margin-top: 63.75px;
}

#target-15 {
    background: #09042A;
}

#target-15-div-1 {
    position: absolute;
    width: 112.5px;
    height: 112.5px;
    background: #7B3F61;
    border-radius: 50%;
    margin-top: 56.25px;
    margin-left: 56.25px;
}

#target-15-div-2 {
    position: absolute;
    width: 112.5px;
    height: 112.5px;
    background: #E78481;
    border-radius: 50%;
    margin-top: 56.25px;
    margin-left: 131.25px;
    overflow: hidden;
}

#target-15-div-2::before {
    content: '';
    position: absolute;
    background: #09042A;
    width: 112.5px;
    height: 112.5px;
    border-radius: 50%;
    margin-left: -75px;
}

#target-16 {
    background: #0B2429;
}

#target-16-div-1 {
    position: absolute;
    width: 150px;
    height: 150px;
    background: #998235;
    border-radius: 50%;
    margin-left: 75px;
    margin-top: 37.5px;
}

#target-16-div-2 {
    position: absolute;
    height: 75px;
    width: 75px;
    background: #998235;
    transform: rotate(45deg);
    margin-top: 75px;
    margin-left: 60px;
}

#target-16-div-3 {
    position: absolute;
    height: 75px;
    width: 75px;
    background: #998235;
    transform: rotate(45deg);
    margin-top: 75px;
    margin-left: 165px;
}

#target-16-div-4 {
    position: absolute;
    width: 135px;
    height: 135px;
    background: #0B2429;
    border-radius: 50%;
    margin-left: 82.5px;
    margin-top: 45px;
}

#target-16-div-5 {
    position: absolute;
    width: 105px;
    height: 105px;
    background: #F3AC3C;
    border-radius: 50%;
    margin-left: 97.5px;
    margin-top: 60px;
}

#target-16-div-6 {
    position: absolute;
    width: 37.5px;
    height: 37.5px;
    background: #0B2429;
    border-radius: 50%;
    margin-left: 131.25px;
    margin-top: 93.75px;
}

#target-17 {
    background: #09042A;
}

#target-17-div-1 {
    position: absolute;
    width: 45px;
    height: 45px;
    background: #E78481;
    margin-left: 127.5px;
    margin-top: 90px;
}

#target-17-div-2 {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #E78481;
    margin-left: 75px;
    margin-top: 82.5px;
}

#target-17-div-3 {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #E78481;
    margin-left: 165px;
    margin-top: 82.5px;
}

#target-17-div-4 {
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #09042A;
    margin-left: 82.5px;
    margin-top: 90px;
}

#target-17-div-5 {
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #09042A;
    margin-left: 172.5px;
    margin-top: 90px;
}

#target-17-div-6 {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #09042A;
    margin-left: 120px;
    margin-top: 122.25px;
}

#target-17-div-7 {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #09042A;
    margin-left: 120px;
    margin-top: 42.75px;
}

#target-17-div-8 {
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #F5BB9C;
    margin-left: 127.5px;
    margin-top: 50.25px;
}

#target-17-div-9 {
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #F5BB9C;
    margin-left: 127.5px;
    margin-top: 129.75px;
}

#target-18 {
    background: #5C434C;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 7.5px;
    padding-left: 7.5px;
}

.row {
    display: flex;
    gap: 15px;
}

.quarter-dark {
    background: #F09462;
    height: 60px;
    width: 60px;
    border-top-left-radius: 60px;
}

.quarter-light {
    background: #F5D6B4;
    height: 60px;
    width: 60px;
    border-top-left-radius: 60px;
}

#target-19 {
    background: #0B2429;
}

#target-19-div-1 {
    position: absolute;
    width: 75px;
    height: 75px;
    background: #F3AC3C;
    transform: rotate(45deg);
    margin-left: 112.5px;
    margin-top: 101.25px;
}

#target-19-div-2 {
    position: absolute;
    width: 52.5px;
    height: 52.5px;
    background: #998235;
    margin-left: 97.5px;
    margin-top: 60px;
    transform: skewY(-45deg);
}

#target-19-div-3 {
    position: absolute;
    width: 52.5px;
    height: 52.5px;
    background: #1A4341;
    margin-left: 150px;
    margin-top: 60px;
    transform: skewY(45deg);
}

#farmer {
    width: 300px;
    height: 168.75px;
    border-radius: 3px;
}